.menu-item {
  min-width: 30%;
  height: 250px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    .content {
      opacity: 0.8;
    }
  }
  
  &.large {
    height: 400px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-right: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 110px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    text-align: center;

    .title {
      font-weight: bold;
      margin-bottom: 7px;
      font-size: 1.4em;
      color: #4a4a4a;
      
    }

    .subtitle {
      font-weight: lighter;
      font-size: 1em;
    }
  }
}
