.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
        color: black;
    }

    .subtitle {
        margin: 5px 0px;
        color: grey;
    }
}