.sign-in {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 50px;

    .title {
        margin: 10px 0;
        color: black;
    }

    .subtitle {
        margin: 5px 0px;
        color: grey;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}