.collection-item {
    width: 22%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        margin-bottom: 5px;
    }
}