.collection-item {
    width: 22%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
        width: 100%;
        height: 90%;
        background-position: center;
        background-size: cover;
        margin-bottom: 5px;
    }

    .collection-footer {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        font-size: 20px;

        .name {
            width: 85%;
            margin-bottom: 15px;
            text-align: left;
        }

        .price {
            width: 15%;
            text-align: right;
        }
    }
}