.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .logo-container {
    height: 100%;
    width: 70px;
  }

  .options {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .option {
      margin: 10px 15px;
      cursor: pointer;
    }
  }
}
