.menu-item {
  min-width: 30%;
  height: 250px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;

  background-position: center;
  background-size: cover;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-right: 7.5px;
  }

  .content {
    height: 110px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;

    .title {
      font-weight: bold;
      margin-bottom: 7px;
      font-size: 1.4em;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 1em;
    }
  }
}
