.custom-button {
    min-width: 140px;
    width: auto;
    height: 50px;
    background-color: black;
    color: white;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bolder;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    &.google-sign-in {
        background-color: #4285f4;
        color: white;
        border: none;

        &:hover {
            background-color: #357ae8;
            border: none;
        }
    }
}