.custom-button {
    min-width: 160px;
    width: auto;
    height: 50px;
    background-color: black;
    color: white;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bolder;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}